@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Galada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

h1 {color:#ff02a0;font-family: 'Lobster', cursive;font-size:26px;}
h1:hover {color:#02ccf9;}
h2 {font-family: 'Playball', cursive;font-size:22px;}
p {font-family: 'Raleway', sans-serif;font-size:14px;}
p.sub {font-family: 'Bebas Neue', cursive;font-size:18px;}
blockquote {font-family: 'Galada', cursive;font-size:18px;}