/* grid */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  font-family: 'Raleway', sans-serif;font-size:14px;color:#fff;padding:10px;



}

/* items */
.container > * {
font-family: 'Raleway', sans-serif;font-size:14px;color:#fff;padding:10px;
  line-height: 1.5;
  padding: 20px;
  background-color:#ff02a0;


  	 
}

.container get {background:none;}

/* nav styles */
.container nav {
  background: #02ccf9;
  border-top: 3px solid #1C86EE;
  border-bottom:3px solid #1C86EE;
  border-right:none;
  border-left:none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav a {
  color: #fff;
  font-family: 'Galada', cursive;
  font-size:24px;
}

nav a:hover {
  text-decoration: none;
}

/* media query for grid layout */
@media only screen and (min-width: 600px) {
    
  /* grid */
  .container {
    grid-template-columns: repeat(4, 1fr);
  }
  
  /* specific item styles */
  .container header,
  .container nav,
  .container footer {
    grid-column: span 6;


  }
  .container section {
    grid-column: span 4;
	  background: #fff;
  }
  
  /* nav styles */
  nav ul li {
    display: inline-block;
    padding: 0 20px 0 0;
  }
  
  /* hide toggle */
  .toggle {
    display: none;
  }
  
}

/* media query for nav styles */
@media only screen and (max-width: 599px) {
  
    #nav {
      transition: transform .3s ease-in-out;
      top: 0;
      bottom: 0;   
      min-height: 100vh; /* override Safari bug */
      position: fixed; /* or choose `absolute` depending on desired behavior*/
      width: 300px;
      left: -340px;
	   background: #02ccf9;
    }
  
    #nav:target {     
      transform: translateX(340px);
    }
  
    .close {
      text-align: right;
      display: block;
      text-decoration: none;
      font-size: 3em;
      position: relative;
      top: -30px;
    }
  
}


*, *:after, *:before{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    
}



@media screen and (max-width:480px){
    .container{
        font-size:1.2em;   
    }
}

ol {}
ol li {font-family:'Galada', cursive;color:#000;font-size:30px;font-weight:bold;background-color:honeydew;padding:5px;}
ol li:hover {'Galada', cursive;color:#ff0076;font-size:30px;font-weight:bold;}

h1 {font-family: 'Galada', cursive;color:#fff;font-size:38px;font-weight:bold;text-align:center;}
h2 {font-family: 'Galada', cursive;font-size:108x;color:#02ccf9;padding:10px;padding-top:5px;padding-bottom:5px;padding-right:5px;padding-left:5px;}
h3 {font-family: 'Galada', cursive;color:#000;font-size:30px;font-weight:bold;background-color:honeydew;padding:5px;}
h3:hover {font-family: 'Galada', cursive;color:#ff02a0;font-size:30px;font-weight:bold;background-color:honeydew;padding:5px;}
p {font-family: 'Raleway', sans-serif;font-size:14px;color:#fff;padding:10px;}
aside {background:#fff;}
p.black {font-family: 'Raleway', sans-serif;font-size:18px;color:#000;padding:10px;}
a.black {font-family: 'Raleway', sans-serif;font-size:18px;color:#cc007d;font-weight:bold;}
a.black:hover {font-family: 'Raleway', sans-serif;font-size:18px;color:#ff02a0;font-weight:bold;text-decoration:underline;}	
	img.gal {padding:5px;}

	a.reg {font-family: 'Raleway', sans-serif;font-size:14px;color:#02ccf9;font-weight:bold;}
	a.reg:hover {font-family: 'Raleway', sans-serif;font-size:14px;color:#fff;font-weight:bold;text-decoration:none;}
	
	img.gal {padding:5px;}