body {
  margin: 0 auto;
  padding: 1em;
  max-width: 600px;
  font: normal 100%/1.5 monospace;
  text-align: start;
  background: mediumblue;
  color: white;
}

h1 {
  line-height: 1;
}

a,
p {
  color: yellow;
}

form {
  position: sticky;
  top: 0;
  z-index: 88;
  display: flex;
  flex-flow: row wrap;
  padding: 0.5em;
  background-color: turquoise;
  border: 2px outset turquoise;
  margin: auto -0.5em;
}

label,
input,
button {
  font: inherit;
  margin: 0 auto 0.5em;
  padding: 0.25em;
  flex: 1;
}

form,
input {
  color: blue;
}

input {
  flex: 2 1 auto;
  max-width: 100%;
  border: 3px solid blue;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  caret-color: blue;
}

button {
  border: 3px outset blue;
  color: white;
  background-color: blue;
  -webkit-appearance: none;
  appearance: none;
}

button:active,
button:focus {
  background-color: white;
  color: blue;
}

ol {
  padding: 0;
  list-style-position: inside;
  font-size: smaller;
  color: yellow;
}

li {
  padding: 0.125em 0.75em;
}

li:before,
li:after {
  color: turquoise;
}

li:before {
  content: "<";
}

li:after {
  content: ">";
}

li:nth-child(odd) {
  background-color: blue;
}

@media only screen and (prefers-color-scheme: dark) {
  body {
    background-color: darkblue;
  }

  p,
  form,
  ol,
  a {
    color: whitesmoke;
  }

  li:before,
  li:after {
    color: darkcyan;
  }

  form {
    background-color: darkcyan;
  }

  li:nth-child(odd) {
    background-color: mediumblue;
  }
}

:focus-visible {
  isolation: isolate;
}